@import url('https://fonts.googleapis.com/css2?family=Candal&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";


:root {
    color-scheme: light;
    color: rgba(0, 0, 0, 1);
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 17px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
}

div#root {
    display: flex;
    flex-direction: column;
}

@layer base {
    p {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        line-height: 1.6;
        @apply mb-3;
    }

    h1 {
        font-size: 3em;
        line-height: 1.1;
        font-family: 'Candal', 'Quicksand', sans-serif;
        font-weight: bold;
        @apply mb-10;
    }

    h2 {
        font-size: 2em;
        line-height: 1.2;
        font-family: 'Candal', 'Quicksand', sans-serif;
        font-weight: 500;
        @apply mt-10 mb-6;
    }
}

@media screen and (max-width: 724px) {
    html {
        font-size: 16px;
    }
}
